html, body{
    margin:0;
    padding:0;
    height: 100%;
}

#main{
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#app{
    width: 100%;
    height: 100%;
}

.app_body{
    width: 100%;
    height: 100%;
}

.homescreen{
    background-image: url('https://pbs.twimg.com/media/DdYT2TGV0AA0p3G.jpg');
    position: relative;
    height: 100%;
    background-size: cover;
    font-family: Didot, serif;
}

.homescreen_image{
    background: rgba(0,0,0,0.4);
    background-image: linear-gradient(
        to top,
        rgba(148, 33, 33, 0.8) 0,
        rgba(230, 192, 192, 0) 60%,
        rgba(184, 28, 28, 0.8) 100%
    );
}

.homescreen_body{
    position:absolute;
    left: 25%;
    top: 25%;
    color: white;
    z-index: 1;
    margin-right: 100px;
}

h1{
    font-size: 2.8rem;
    font-weight: 700;
    font-family: Didot, serif;
}

h3{
    font-size: 2.3rem;
    font-weight: 700;
    font-family: Didot, serif;
}

.homescreen_input{
    display: flex;
    flex-direction: column;
    width: 100%
}

input{
    padding: 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.homescreen_button{
    cursor: pointer;
    margin-top: 18px;
    width: 50%;
    outline: none;
    border: none;
    padding: 10px;
    background-color: #e50914;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.3rem;
    border-radius: 5px;
}

.homescreen_button:hover{
    border: 3px solid black;
    border-radius: 5px;
}